*{
    font-family:sans-serif;
    color:white;
}

html {
    scroll-behavior: smooth;
  }

body{
    background: rgb(2,0,36);
    background: linear-gradient(281deg, rgba(2,0,36,1) 0%, rgba(19,19,64,1) 48%, rgba(27,60,66,1) 100%);
    height:10%;
}

::-webkit-scrollbar {
    display: none;
  }

.navbar{
  width:100%;
  display:inline;
  justify-content:center;
  padding:1%;
  background:none;
  text-align:center;

}

#navbar .navbar-menu{
    position: -webkit-sticky;
    position: sticky;
    top:25px;
}

.navbar-menu{
    font-weight:5px;
    font-size:20px;
}

.navbar-menu a{
    text-decoration:none;
    padding:1% 3%;
    margin-left:2%;
    border-radius: 10px;
}

.navbar-menu a:hover, .navbar-menu a.active{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    background:rgba(255,255,255,0.07);
  	--webkit-backdrop-filter: blur(5px);
    border-left:0.01px solid rgba(255,255,255,0.2);
    border-top: 0.01px solid rgba(255,255,255,0.2);
}

a .menu .active{
    /* color:rgba(199, 243, 255); */
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    background:rgba(255,255,255,0.07);
  	--webkit-backdrop-filter: blur(5px);
    border-left:0.01px solid rgba(255,255,255,0.2);
    border-top: 0.01px solid rgba(255,255,255,0.2);
}

.fullpage{
    height:100vh;
    width:auto;
    align-items:center;
}

.fullpage .about{
    height:100%;
    width:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    align-content:center;
}


.about .container ul li{
    list-style-type: none;
    display:inline-block;
    margin:0 40px;
}

.container div img{
    height:200px;
    padding:20px;
}

/* .skills {
    margin-top: -10%;
} */

a{
    text-decoration:none;
}


.icon{
    padding:100%;
    background: #175b69;
    border-radius:100%;
}

.icon:hover{
    background:white;
    color: #175b69;
}

.experience .container{
    padding:1% 3%;
    margin-left:2%;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    background:rgba(255,255,255,0.07);
  	--webkit-backdrop-filter: blur(5px);
    border-left:0.01px solid rgba(255,255,255,0.2);
    border-top: 0.01px solid rgba(255,255,255,0.2);
}

.txt-center{
    text-align:center;
}

.bold{
    font-weight:15px;
}

.experience .content{
    display:flex;
    justify-content:space-around;
}

.content img{
    height:60%;
    display:flex;
    /* align-items:center; */
    padding:5%;
}
.content-center{
    display:flex;
    justify-content:center;
    align-items:center;
}

.container-center{
    padding:1% 3% 3%;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    background:rgba(255,255,255,0.07);
  	--webkit-backdrop-filter: blur(5px);
    border-left:0.01px solid rgba(255,255,255,0.2);
    border-top: 0.01px solid rgba(255,255,255,0.2);
}

.item a{
    font-size:12px;
    color:#75aaff;
}

.item a:hover{
    color:#b8d3ff;
}

.sosmed{
    margin: 10% 0 0 -20%;
}

.content-center .container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
}

.skill-container{
    text-align:center;
    width:10rem;
    height:10rem;
    padding:0% 1% 0;
    margin:1%;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    background:rgba(255,255,255,0.07);
  	--webkit-backdrop-filter: blur(5px);
    border-left:0.01px solid rgba(255,255,255,0.2);
    border-top: 0.01px solid rgba(255,255,255,0.2);
}

.skill-container > img{
    /* height:80%; */
    /* max-width: 60%; */
    max-height: 20%;
    /* object-fit:cover; */
}

.skill-container h3{
    padding-top:-50%;;
}

.fullpage .experience,.fullpage .education, .fullpage .portfolio, .fullpage .skills{
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
    width: auto;
    margin-top: 10%;
}

.p-portfolio{
    margin:0 20%
}

.mongo > img {
    width: max-content;
}

#education, #skills{
    margin-top: 30%;
}


@media only screen and (max-width: 1049px) {
    .education{
        margin-top: 60%;
    }
    .containers{
        margin-top: 30%;
    }
    .skill-container{
        width:10rem;
        height:10rem;
    }
    .skill-container img{
        width:80%;
        /* margin-top:-10%; */
        object-fit:scale-down;
    }
    /* .skill-container h3{
        margin-top:-25%;
    } */

    .content .image{
        display:flex;
        justify-content:center
    }

    .experience .content .container{
        /* width:80%; */
        display:flex;
        justify-content:center;
    }

    .experience .content{
        flex-direction:column-reverse;
    }
}